# Compiler files
cache/
out/

# Ignores development broadcast logs
broadcast/

# Docs
docs/

# Dotenv file
.env

src/solvers/*
_*
*_
!src/solvers/ExampleSolver.sol
test/*
!test/OptimizorWar.t.sol
script/SubmitSolvers.s.sol
script/DeployChallenges.s.sol

node_modules
dist
